<!-- {% extends "layout.html" %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
<section class="max-w-7xl mx-auto px-4 py-12">
    <article>
        <h1 class="text-4xl md:text-6xl leading-[76px] font-semibold max-w-xl bg-gradient-to-r from-slate-900 to-[#6D8FE4] text-transparent bg-clip-text">
            {{ post.title }}
        </h1>
        <p class="text-sm text-gray-500">{{ post.date }}</p>
        <p class="text-sm text-gray-500">{{ post.time }}</p>
        <div class="mt-6 prose">
            {{ post.body }}
        </div>
    </article>
</section>

{% endblock %} -->